<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchColor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0E8DEBC1BEB82E800E7F565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E8DED51BEB82E800E7F565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0E8DEE01BEB82E800E7F565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
